{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{eunit_opts, [verbose]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{profiles, [
    {test, [
        {dialyzer, [
          {warnings, [
              no_return
          ]}
        ]},
		{plugins, [
            rebar3_proper
        ]},
        {deps, [{proper,"1.4.0"}]}
    ]},
	{doc_private, [
		{edoc_opts, [
			{private, true}
		]}
	]}
]}.

{edoc_opts, [
    {preprocess, true}, {stylesheet, "style.css"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
          {"README.md", #{title => "Overview"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/daleharvey/dh_date"},
    {assets, "assets"},
    {api_reference, true}
]}.