{erl_opts, [no_debug_info]}.

{plugins, [
    rebar3_path_deps
]}.

{deps, [
	{dh_date, {path,"../.."}}
]}.


{escript_incl_apps,
 [main]}.
{escript_main_app, main}.
{escript_name, main}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
